<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> NaN - concours </title>

        <!-- stylesheet ***************************************** -->
        <link rel="stylesheet" href="ressources/css/bootstrap.min.css">
        <link rel="stylesheet" href="ressources/css/main.css">

        
        <!-- favicons  ****************************************** -->
        <link rel="apple-touch-icon" sizes="57x57" href="ressources/images/favicons.ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="ressources/images/favicons.ico//apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="ressources/images/favicons.ico//apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="ressources/images/favicons.ico//apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="ressources/images/favicons.ico//apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="ressources/images/favicons.ico//apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="ressources/images/favicons.ico//apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="ressources/images/favicons.ico//apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="ressources/images/favicons.ico//apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="ressources/images/favicons.ico//android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="ressources/images/favicons.ico//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="ressources/images/favicons.ico//favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="ressources/images/favicons.ico//favicon-16x16.png">
        <link rel="manifest" href="ressources/images/favicons.ico//manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicons.ico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- jquery ******************************************** -->
        <script src="ressources/js/jquery.min.js"></script>

        
    </head>
    <body>

        <section class="main center-content">
            <div class="login-card">
                <div>
                    <div class="clip-each clip-solid">
                        <span class="social-each">
                        </span> 
                    </div>	
            
                    <svg class="clip-svg">
                        <defs>
                            <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                <polygon points="0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <h1 class="text-center mb-5">Bienvenue</h1>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="email">
                        <!-- <small class="form-text text-error">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mot de passe">
                        <!-- <small  class="form-text text-error">We'll never share your email with anyone else.</small> -->
                    </div>
                    <button type="submit" class="btn btn1">Connexion</button>
                </form>
            </div>
            <div class="copyright">
                <h4>plateforme concours</h4>
                <h5>© DevsFront - Not A Number</h5>
            </div>
        </section>
        
        <!-- script ****************************************** -->
        <script src="ressources/js/bootstrap.min.js"></script>
        <script src="ressources/js/main.js"></script>


    </body>
</html>